**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [251]:
#Loading data
import pandas as pd
import numpy as np
books = pd.read_csv("C:\\Ishan\\Greatlearning\\Labs\\5. 1 Nov\\books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('C:\\Ishan\\Greatlearning\\Labs\\5. 1 Nov\\users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('C:\\Ishan\\Greatlearning\\Labs\\5. 1 Nov\\ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Check no.of records and features given in each dataset

In [252]:
print("No of records in Books DF:- ",books.shape)
print("Features in Books DF:- ", books.info())

No of records in Books DF:-  (271360, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
ISBN                 271360 non-null object
bookTitle            271360 non-null object
bookAuthor           271359 non-null object
yearOfPublication    271360 non-null object
publisher            271358 non-null object
imageUrlS            271360 non-null object
imageUrlM            271360 non-null object
imageUrlL            271357 non-null object
dtypes: object(8)
memory usage: 16.6+ MB
Features in Books DF:-  None

In [253]:
print("No of records in users DF:- ",users.shape)
print("Features in users DF:- ", users.info())

No of records in users DF:-  (278858, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB
Features in users DF:-  None

In [254]:
print("No of records in ratings DF:- ",ratings.shape)
print("Features in ratings DF:- ", ratings.info())

No of records in ratings DF:-  (1149780, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
userID        1149780 non-null int64
ISBN          1149780 non-null object
bookRating    1149780 non-null int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
Features in ratings DF:-  None

## Exploring books dataset

In [255]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [256]:
books=books.drop(['imageUrlS','imageUrlM','imageUrlL'],axis=1)

In [257]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [258]:
books.yearOfPublication.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [259]:
books[books.yearOfPublication == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

In [260]:
books[books.yearOfPublication == 'Gallimard']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [261]:
books=books[books.yearOfPublication != 'DK Publishing Inc']

In [262]:
books=books[books.yearOfPublication != 'Gallimard']

In [263]:
books.shape

(271357, 5)

### Change the datatype of yearOfPublication to 'int'

In [264]:
books['yearOfPublication'] = books[['yearOfPublication']].apply(pd.to_numeric)

In [265]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int64
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [266]:
books=books.dropna(subset=['publisher'])

In [267]:
books.shape

(271355, 5)

## Exploring Users dataset

In [268]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [269]:
a=users.Age.unique()
a.sort()
print(a)

[  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.
  14.  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.
  28.  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.
  42.  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.
  56.  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.
  70.  71.  72.  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.
  84.  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.
  98.  99. 100. 101. 102. 103. 104. 105. 106. 107. 108. 109. 110. 111.
 113. 114. 115. 116. 118. 119. 123. 124. 127. 128. 132. 133. 136. 137.
 138. 140. 141. 143. 146. 147. 148. 151. 152. 156. 157. 159. 162. 168.
 172. 175. 183. 186. 189. 199. 200. 201. 204. 207. 208. 209. 210. 212.
 219. 220. 223. 226. 228. 229. 230. 231. 237. 239. 244.  nan]

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [270]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [271]:
users.loc[(users.Age > 90),'Age']=np.nan

In [272]:
users.loc[(users.Age < 5),'Age']=np.nan

In [273]:
a=users.Age.unique()
a.sort()
print(a)

[ 5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22.
 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39. 40.
 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54. 55. 56. 57. 58.
 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71. 72. 73. 74. 75. 76.
 77. 78. 79. 80. 81. 82. 83. 84. 85. 86. 87. 88. 89. 90. nan]

### Replace null values in column `Age` with mean

In [274]:
users['Age'] = users['Age'].fillna((users['Age'].mean()))

In [275]:
a=users.Age.unique()
a.sort()
print(a)

[ 5.          6.          7.          8.          9.         10.
 11.         12.         13.         14.         15.         16.
 17.         18.         19.         20.         21.         22.
 23.         24.         25.         26.         27.         28.
 29.         30.         31.         32.         33.         34.
 34.72384042 35.         36.         37.         38.         39.
 40.         41.         42.         43.         44.         45.
 46.         47.         48.         49.         50.         51.
 52.         53.         54.         55.         56.         57.
 58.         59.         60.         61.         62.         63.
 64.         65.         66.         67.         68.         69.
 70.         71.         72.         73.         74.         75.
 76.         77.         78.         79.         80.         81.
 82.         83.         84.         85.         86.         87.
 88.         89.         90.        ]

### Change the datatype of `Age` to `int`

In [276]:
users['Age'] = users[['Age']].apply(pd.to_numeric)

In [277]:
print(sorted(users.Age.unique()))

[5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 34.72384041634689, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0]

## Exploring the Ratings Dataset

### check the shape

In [278]:
ratings.shape

(1149780, 3)

In [279]:
n_users = users.shape[0]
n_books = books.shape[0]

In [280]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [281]:
ratings=pd.merge(ratings,books,on='ISBN',how='inner')

In [282]:
ratings.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [283]:
ratings.shape

(1031130, 7)

In [284]:
ratings=ratings.drop(['bookTitle','bookAuthor','yearOfPublication','publisher'],axis=1)

In [285]:
ratings.shape

(1031130, 3)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [286]:
ratings=pd.merge(ratings,users,on='userID',how='inner')

In [287]:
ratings.head()

   userID        ISBN  bookRating               Location       Age
0  276725  034545104X           0      tyler, texas, usa  34.72384
1    2313  034545104X           5  cincinnati, ohio, usa  23.00000
2    2313  0812533550           9  cincinnati, ohio, usa  23.00000
3    2313  0679745580           8  cincinnati, ohio, usa  23.00000
4    2313  0060173289           9  cincinnati, ohio, usa  23.00000

In [288]:
ratings=ratings.drop(['Location','Age'],axis=1)

In [289]:
ratings.shape

(1031130, 3)

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [290]:
ratings.bookRating.unique()

array([ 0,  5,  9,  8,  7,  6, 10,  3,  4,  2,  1], dtype=int64)

In [291]:
ratings= ratings[ratings['bookRating']>0]

In [292]:
ratings.shape

(383839, 3)

### Find out which rating has been given highest number of times

In [293]:
ratings['bookRating'].value_counts()

8     91804
10    71225
7     66401
9     60776
5     45355
6     31687
4      7617
3      5118
2      2375
1      1481
Name: bookRating, dtype: int64

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [328]:
ratings=ratings.groupby('userID').filter(lambda x: len(x) > 100)

In [329]:
ratings.shape

(102369, 3)

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [330]:
ratings=ratings.fillna(0)

In [358]:
ratings[ratings['userID']==2110]

        userID        ISBN  bookRating
670337    2110  059035342X          10
670341    2110  0590448595           8
670344    2110  0451137965           9
670345    2110  0590629786          10
670346    2110  0590629794          10
670347    2110  0590629808          10
670348    2110  0345307674          10
670350    2110  0671001868           8
670352    2110  0515134384           5
670353    2110  0345314255          10
670354    2110  0345335287          10
670355    2110  0441000150          10
670360    2110  0590448315           8
670361    2110  0590448323           8
670362    2110  059045367X           8
670364    2110  0671695304          10
670368    2110  0515136557           3
670369    2110  0151008116           5
670371    2110  0671527215           9
670373    2110  015216250X           8
670375    2110  0064472779           8
670376    2110  0515127396           8
670379    2110  0060987529           7
670380    2110  0140022651          10
670381    2110  0142302163           8
670383    2110  0345260627          10
670384    2110  0345283554          10
670385    2110  0345283929          10
670386    2110  034528710X          10
670387    2110  0345317580          10
...        ...         ...         ...
670460    2110  0590956159           8
670461    2110  0671038931           8
670463    2110  0671529714           7
670464    2110  0671532642           8
670465    2110  067166865X          10
670469    2110  0671751174          10
670470    2110  0671802283           8
670471    2110  0671803530           8
670472    2110  0679023755           8
670473    2110  0679805265          10
670474    2110  0679811761          10
670475    2110  0688047211           1
670476    2110  068808527X           8
670477    2110  0698119916           8
670479    2110  0743486625          10
670483    2110  0786807555           7
670484    2110  0786814241           8
670485    2110  0803298145           9
670486    2110  0806512318           6
670487    2110  0807842613           9
670488    2110  0812505042          10
670490    2110  0886774500           9
670491    2110  0898863538           8
670492    2110  093317490X           7
670493    2110  097089726x          10
670494    2110  1558504184           8
670495    2110  1561008931           7
670496    2110  1565111575          10
670498    2110  1570420564          10
670499    2110  1572970944           6

[103 rows x 3 columns]

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [363]:
R_df = ratings.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)

In [364]:
R_df.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [365]:
R_df.tail()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [368]:
R_df.shape

(440, 66074)

In [369]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_df, k = 50)

In [370]:
sigma

array([147.86505334, 149.3252639 , 150.04583148, 152.18779748,
       152.85092339, 154.59835563, 154.79234893, 155.89656853,
       158.0387241 , 159.20452803, 159.79868146, 162.01559917,
       162.66913244, 163.3027848 , 166.02017651, 166.80982507,
       168.03377923, 170.76490745, 171.0090041 , 173.2664674 ,
       174.55625832, 176.63532917, 178.61625736, 180.29249907,
       182.22447299, 184.10415849, 187.59494573, 189.74901812,
       190.94518579, 195.13457875, 199.79880776, 201.70062063,
       202.18428336, 203.46475662, 207.23913363, 209.91536471,
       213.20180251, 216.84285916, 224.26669747, 231.63466808,
       235.66562174, 249.9299874 , 252.00477066, 261.17800888,
       267.92933045, 281.00386615, 293.69040211, 379.57255682,
       634.71795583, 680.3033617 ])

In [371]:
sigma = np.diag(sigma)

In [372]:
sigma

array([[147.86505334,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 149.3252639 ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        , 150.04583148, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 379.57255682,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        634.71795583,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 680.3033617 ]])

In [373]:
all_users_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [374]:
preds_df = pd.DataFrame(all_users_predicted_ratings, columns = R_df.columns)

In [375]:
preds_df

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.025435,-0.002179,-0.001453,-0.002179,-0.002179,0.002992,-0.003815,0.007085,0.007085,0.012476,...,0.000208,0.000274,0.042120,-0.016812,-0.079440,0.004883,0.028040,0.000138,-0.001522,0.067883
1,-0.009927,-0.003617,-0.002411,-0.003617,-0.003617,0.001039,0.001498,-0.003512,-0.003512,0.001624,...,-0.000360,0.000395,0.007998,0.001164,-0.028259,0.001008,0.002274,-0.000240,0.000026,-0.012930
2,-0.014924,-0.015591,-0.010394,-0.015591,-0.015591,0.007366,-0.014016,0.011928,0.011928,0.012008,...,-0.000433,0.001967,0.048691,0.005677,0.118079,0.006984,0.003151,-0.000288,0.009096,-0.058054
3,-0.021020,0.035453,0.023636,0.035453,0.035453,0.030357,0.024524,-0.001135,-0.001135,0.067559,...,0.003022,0.009995,0.088258,-0.008757,0.015976,0.028634,0.000253,0.002015,0.031009,-0.047275
4,0.002035,-0.008156,-0.005438,-0.008156,-0.008156,0.003119,0.002917,0.000222,0.000222,0.006312,...,0.002145,0.001677,-0.011525,0.009334,0.673907,0.002657,-0.008190,0.001430,0.005080,0.047187
5,-0.002130,0.018681,0.012454,0.018681,0.018681,0.007913,0.023180,-0.005160,-0.005160,0.018128,...,0.002292,0.003337,0.030173,-0.013280,-0.068818,0.007997,0.003400,0.001528,0.008407,0.072354
6,-0.015707,0.020112,0.013408,0.020112,0.020112,0.014263,0.016852,-0.002413,-0.002413,0.031566,...,0.002621,0.003707,0.031001,0.012448,0.030924,0.013523,0.001467,0.001747,0.014166,-0.004951
7,-0.010559,-0.010282,-0.006855,-0.010282,-0.010282,0.023472,-0.013935,0.017131,0.017131,0.057537,...,0.000224,0.006934,0.122735,-0.000716,-0.320045,0.018999,0.045305,0.000149,0.015139,0.012641
8,0.041213,-0.030519,-0.020346,-0.030519,-0.030519,0.018552,-0.031501,-0.013312,-0.013312,0.038045,...,0.002105,0.005327,0.071590,0.007766,-0.077402,0.014320,0.006063,0.001403,0.016514,-0.027820
9,0.024061,-0.004365,-0.002910,-0.004365,-0.004365,0.054521,-0.015141,-0.011848,-0.011848,0.114872,...,0.006709,0.012808,0.175650,-0.010705,-0.174581,0.049540,0.013329,0.004473,0.051605,-0.024240
10,-0.005243,-0.003431,-0.002287,-0.003431,-0.003431,0.001824,-0.002285,-0.002617,-0.002617,0.005196,...,0.000542,0.000361,0.005459,-0.000009,-0.016932,0.002199,0.001802,0.000361,0.001953,-0.008806
11,0.042815,-0.013256,-0.008838,-0.013256,-0.013256,0.047189,-0.022332,-0.021466,-0.021466,0.079402,...,-0.004123,0.006156,0.305929,-0.029196,0.148070,0.036192,0.041062,-0.002749,0.024188,-0.021358
12,-0.015297,-0.006795,-0.004530,-0.006795,-0.006795,0.008971,-0.024496,-0.005920,-0.005920,0.004228,...,-0.001905,-0.000077,0.076470,-0.004741,-0.094524,0.003928,0.006722,-0.001270,0.003456,-0.043196
13,0.002652,0.003595,0.002397,0.003595,0.003595,0.016379,0.001756,0.008244,0.008244,0.033658,...,0.001453,0.004055,0.056717,-0.000037,0.125353,0.015285,0.001797,0.000968,0.014868,0.046970
14,-0.018665,-0.000249,-0.000166,-0.000249,-0.000249,0.008124,-0.000150,0.007423,0.007423,0.021660,...,0.003518,0.003686,0.025365,-0.001099,-0.060474,0.007844,0.005760,0.002346,0.007836,0.144191
15,-0.000189,-0.000002,-0.000001,-0.000002,-0.000002,-0.000073,-0.000132,-0.000026,-0.000026,-0.000107,...,-0.000004,-0.000004,-0.000571,0.007920,-0.000633,-0.000071,-0.000070,-0.000002,-0.000024,-0.000421
16,0.022695,-0.022497,-0.014998,-0.022497,-0.022497,0.011586,-0.023794,-0.002037,-0.002037,0.029105,...,0.000115,0.003568,0.048622,-0.014792,-0.065352,0.016263,0.007201,0.000077,0.011859,-0.010468
17,0.000299,-0.000006,-0.000004,-0.000006,-0.000006,0.003861,-0.001332,0.000122,0.000122,-0.003172,...,0.002591,0.004230,-0.002919,9.995005,-0.012286,0.006207,-0.004633,0.001727,0.010534,0.004258
18,0.020468,0.000895,0.000597,0.000895,0.000895,0.002400,0.000335,-0.002760,-0.002760,0.001330,...,-0.001166,0.000434,0.030809,-0.003933,0.213265,0.001455,0.005388,-0.000777,-0.001687,0.076879
19,0.035075,-0.008278,-0.005519,-0.008278,-0.008278,0.008123,-0.002891,0.011427,0.011427,0.020730,...,0.000564,0.002457,0.024184,-0.000085,-0.056242,0.006915,0.002696,0.000376,0.008562,-0.049343
20,-0.006533,-0.001386,-0.000924,-0.001386,-0.001386,0.001563,0.020333,0.010345,0.010345,0.002736,...,-0.000321,0.000366,0.037610,0.002639,-0.015969,0.001675,0.003991,-0.000214,0.000394,-0.002335
21,-0.014042,0.018175,0.012117,0.018175,0.018175,0.002684,0.019030,-0.001799,-0.001799,0.002779,...,0.001086,0.003822,0.041233,-0.001372,0.092520,0.008795,0.009489,0.000724,0.000544,-0.078606
22,-0.025961,0.006926,0.004617,0.006926,0.006926,0.005236,0.020438,-0.021066,-0.021066,-0.010804,...,0.001212,0.006190,0.057586,0.005520,0.078613,0.011197,-0.012229,0.000808,0.000879,-0.077599
23,0.033380,0.006020,0.004014,0.006020,0.006020,0.008252,0.013774,-0.009970,-0.009970,0.017689,...,0.001472,0.001826,0.027394,-0.000973,-0.019059,0.006907,0.003731,0.000981,0.007199,-0.040087
24,-0.018576,-0.009945,-0.006630,-0.009945,-0.009945,0.012622,-0.006172,-0.010241,-0.010241,0.025845,...,0.001540,0.002888,0.050689,0.002796,0.120042,0.012719,0.002756,0.001027,0.011249,-0.023429
25,0.027543,0.001355,0.000904,0.001355,0.001355,0.003697,0.004014,-0.001833,-0.001833,0.012147,...,0.001876,0.001484,0.002148,0.013727,-0.026249,0.004365,0.002007,0.001251,0.004098,0.029025
26,0.012871,0.019987,0.013325,0.019987,0.019987,0.002778,0.021750,-0.004096,-0.004096,0.004374,...,0.000179,0.001747,0.028906,-0.004330,-0.022620,0.005167,0.013861,0.000119,0.001688,0.002310
27,0.092684,-0.035278,-0.023519,-0.035278,-0.035278,0.020814,0.092003,-0.010826,-0.010826,0.057514,...,0.007100,0.012306,0.112921,-0.034107,-0.129420,0.024684,-0.012936,0.004733,0.035440,0.091975
28,0.017004,0.001180,0.000787,0.001180,0.001180,0.023222,0.098132,-0.003391,-0.003391,0.083046,...,0.006303,-0.010674,-0.162942,-0.007326,-0.104847,-0.019589,-0.031916,0.004202,-0.009174,0.033260
29,0.036963,-0.003996,-0.002664,-0.003996,-0.003996,0.001304,-0.002952,-0.001670,-0.001670,0.002306,...,0.000172,0.001377,-0.001699,0.007436,-0.008148,0.001100,0.002353,0.000115,0.000904,0.022866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,0.012907,-0.003069,-0.002046,-0.003069,-0.003069,0.014819,0.008109,-0.006804,-0.006804,0.032877,...,0.002884,0.004838,0.069873,0.006043,-0.011252,0.014898,0.004774,0.001923,0.013975,-0.009389
411,-0.022976,0.000092,0.000061,0.000092,0.000092,-0.011787,-0.038482,-0.006227,-0.006227,-0.024586,...,-0.003630,-0.010190,-0.072233,0.003249,0.012769,-0.011462,-0.007775,-0.002420,0.011516,-0.036894
412,0.022369,-0.008102,-0.005402,-0.008102,-0.008102,0.002522,0.004994,-0.000994,-0.000994,0.008154,...,0.001646,0.001964,0.011154,0.003914,-0.036089,0.002887,0.002291,0.001097,0.002912,0.024663
413,-0.000189,0.000916,0.000611,0.000916,0.000916,0.001954,-0.009189,-0.002400,-0.002400,-0.004756,...,-0.000392,0.000841,0.022511,0.017339,-0.077784,0.003037,0.003141,-0.000262,0.002947,-0.036620
414,-0.029257,-0.002466,-0.001644,-0.002466,-0.002466,0.025444,0.044741,0.028333,0.028333,-0.002446,...,-0.002980,0.003670,0.411261,-0.005140,-0.074846,0.016722,0.010521,-0.001987,0.009393,-0.058995
415,-0.005297,0.001920,0.001280,0.001920,0.001920,0.000880,0.004643,0.001850,0.001850,0.004227,...,0.000375,0.000597,0.001964,0.009447,-0.008383,0.001069,0.001262,0.000250,0.001173,-0.010947
416,-0.023211,-0.013735,-0.009156,-0.013735,-0.013735,0.020496,0.004654,0.002174,0.002174,0.035276,...,0.000948,0.006036,0.115551,-0.011282,0.293926,0.019063,0.004462,0.000632,0.022004,-0.101063
417,0.005109,0.033100,0.022067,0.033100,0.033100,0.010214,0.026763,-0.002903,-0.002903,0.020895,...,0.005205,0.007415,0.012432,0.011699,-0.059424,0.013216,-0.000684,0.003470,0.019924,0.092159
418,-0.003887,-0.015730,-0.010487,-0.015730,-0.015730,0.010114,0.002107,0.007842,0.007842,0.023194,...,0.000322,0.002530,0.027670,0.027517,0.211626,0.009289,-0.001381,0.000215,0.008234,-0.034527
419,-0.004081,0.004507,0.003005,0.004507,0.004507,0.000102,0.007989,-0.001196,-0.001196,-0.002534,...,-0.000496,0.000299,0.002541,0.011618,0.067314,0.001265,-0.003659,-0.000331,0.001841,-0.015950
420,0.087597,-0.004215,-0.002810,-0.004215,-0.004215,0.004998,0.005157,0.005192,0.005192,0.011845,...,0.000761,0.002132,0.030159,0.004291,-0.015245,0.005259,0.006009,0.000508,0.004654,0.031565
421,-0.018679,0.000524,0.000350,0.000524,0.000524,0.006614,-0.001437,0.011689,0.011689,0.015160,...,-0.001087,0.001059,0.042139,0.002802,-0.017220,0.006053,0.013155,-0.000725,0.004405,-0.011606
422,-0.017993,-0.010738,-0.007158,-0.010738,-0.010738,0.020849,-0.027934,-0.010035,-0.010035,0.029523,...,-0.002014,0.000697,0.145618,0.004388,0.072966,0.015890,0.016048,-0.001343,0.014695,-0.072890
423,0.023786,-0.015109,-0.010073,-0.015109,-0.015109,0.001620,0.010952,0.003690,0.003690,0.005221,...,0.000967,0.002372,0.030444,0.010710,-0.039819,0.004586,0.009611,0.000645,0.000426,0.055689
424,-0.003509,-0.014019,-0.009346,-0.014019,-0.014019,0.009690,-0.026958,-0.009385,-0.009385,0.016434,...,-0.002607,-0.003073,0.039137,0.005659,-0.122546,0.007287,0.023999,-0.001738,0.002920,-0.008231
425,-0.014497,-0.005627,-0.003751,-0.005627,-0.005627,0.010354,-0.002111,0.000664,0.000664,0.021412,...,-0.000038,0.001789,0.040632,0.028134,0.056798,0.009562,0.004931,-0.000026,0.008958,-0.048643
426,0.004332,0.043076,0.028718,0.043076,0.043076,0.006213,0.048564,0.005512,0.005512,0.016275,...,0.001176,0.002634,0.034485,-0.003032,-0.027574,0.007183,0.006368,0.000784,0.005379,0.002549
427,0.010333,-0.004385,-0.002923,-0.004385,-0.004385,0.016923,-0.013843,0.005337,0.005337,0.033654,...,0.003385,0.002359,0.025412,0.019034,0.017099,0.014464,0.006025,0.002257,0.010670,-0.054900
428,-0.000335,-0.007996,-0.005331,-0.007996,-0.007996,0.000126,0.032388,0.018145,0.018145,0.003236,...,0.002461,0.001808,0.035360,-0.022419,0.180156,0.000557,0.002677,0.001640,-0.002237,-0.048025
429,0.022514,0.007460,0.004973,0.007460,0.007460,0.004832,0.014341,-0.001364,-0.001364,0.011959,...,-0.000024,0.000966,0.022097,0.019942,0.041176,0.004649,0.004920,-0.000016,0.002687,0.004553
430,-0.013785,-0.008523,-0.005682,-0.008523,-0.008523,0.006243,-0.013969,-0.004732,-0.004732,0.015684,...,-0.000005,0.000792,0.034880,-0.002853,-0.074922,0.006517,0.012330,-0.000003,0.001560,0.068937
431,-0.041661,-0.007757,-0.005171,-0.007757,-0.007757,0.040764,0.001097,0.012375,0.012375,0.094659,...,0.004249,0.016644,0.135618,-0.016529,-0.154195,0.044639,0.005929,0.002833,0.047143,0.041779
432,-0.025743,-0.030751,-0.020500,-0.030751,-0.030751,0.023084,-0.025002,0.035158,0.035158,0.041365,...,0.003008,0.004434,0.073141,0.005977,0.039978,0.021677,0.010199,0.002006,0.016771,-0.011505
433,0.013218,0.069666,0.046444,0.069666,0.069666,0.009775,0.067508,0.008792,0.008792,0.026032,...,0.002509,0.002521,0.055378,-0.000029,0.012503,0.015027,0.018459,0.001673,0.005830,0.140603
434,-0.000093,-0.002844,-0.001896,-0.002844,-0.002844,-0.000667,-0.005742,-0.003614,-0.003614,-0.000127,...,-0.000116,0.000027,-0.070885,0.012069,0.220893,0.000120,-0.007658,-0.000077,0.000067,-0.014178
435,-0.013479,-0.002772,-0.001848,-0.002772,-0.002772,-0.024165,0.250830,0.005752,0.005752,-0.028967,...,0.001772,-0.007960,0.061571,-0.001236,0.125688,-0.020509,0.007364,0.001181,-0.024252,0.102294
436,0.017216,0.020598,0.013732,0.020598,0.020598,0.016552,0.045403,0.017102,0.017102,0.010283,...,-0.002689,0.002273,0.239606,-0.003357,0.058330,0.014336,0.010502,-0.001792,0.008469,-0.072205
437,0.003826,-0.011234,-0.007489,-0.011234,-0.011234,0.007821,-0.012384,0.005959,0.005959,0.022366,...,0.002629,0.003733,0.015994,0.021514,-0.050993,0.008139,0.005824,0.001753,0.008580,0.125920
438,0.078115,-0.024590,-0.016394,-0.024590,-0.024590,0.011827,-0.018116,-0.005833,-0.005833,0.027387,...,0.000481,0.003533,0.061575,0.010342,-0.074067,0.012130,0.008606,0.000321,0.010253,0.035664
439,0.008088,0.011621,0.007747,0.011621,0.011621,-0.000404,0.011943,0.011170,0.011170,-0.000441,...,0.000127,-0.000184,-0.002526,0.002635,-0.004034,0.000619,0.001400,0.000085,-0.000316,0.007436

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [311]:
userID = 2110

In [312]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [377]:
def recommend_movies(predictions_df, userID,user_id, movies_df, original_ratings_df, num_recommendations = False):
    user_row_number = user_id - 1  #UserID starts at zero not 1
    sorted_user_predictions = predictions_df.loc[user_row_number].sort_values(ascending = False)
    
    user_data = original_ratings_df[original_ratings_df.userID == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )
    print('User {0} has already rated {1} movies.'.format(userID, user_full.dropna().shape[0]))
    print('Recommending the highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    recommendations = (movies_df[~movies_df['ISBN'].isin(user_full['ISBN'])].
                      merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
                           left_on = 'ISBN',
                           right_on = 'ISBN').
                      rename(columns = {user_row_number: 'Predictions'}).
                      sort_values('Predictions', ascending = False).
                      iloc[:num_recommendations, :-1])
    return user_full, recommendations, sorted_user_predictions, user_data, user_full

In [378]:
already_rated, predictions, sorted_user_predictions, user_data, user_full = recommend_movies(preds_df, 2110,2, books, ratings, 10)

User 2110 has already rated 103 movies.
Recommending the highest 10 predicted ratings movies not already rated.

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [379]:
user_data

        userID        ISBN  bookRating
670337    2110  059035342X          10
670341    2110  0590448595           8
670344    2110  0451137965           9
670345    2110  0590629786          10
670346    2110  0590629794          10
670347    2110  0590629808          10
670348    2110  0345307674          10
670350    2110  0671001868           8
670352    2110  0515134384           5
670353    2110  0345314255          10
670354    2110  0345335287          10
670355    2110  0441000150          10
670360    2110  0590448315           8
670361    2110  0590448323           8
670362    2110  059045367X           8
670364    2110  0671695304          10
670368    2110  0515136557           3
670369    2110  0151008116           5
670371    2110  0671527215           9
670373    2110  015216250X           8
670375    2110  0064472779           8
670376    2110  0515127396           8
670379    2110  0060987529           7
670380    2110  0140022651          10
670381    2110  0142302163           8
670383    2110  0345260627          10
670384    2110  0345283554          10
670385    2110  0345283929          10
670386    2110  034528710X          10
670387    2110  0345317580          10
...        ...         ...         ...
670460    2110  0590956159           8
670461    2110  0671038931           8
670463    2110  0671529714           7
670464    2110  0671532642           8
670465    2110  067166865X          10
670469    2110  0671751174          10
670470    2110  0671802283           8
670471    2110  0671803530           8
670472    2110  0679023755           8
670473    2110  0679805265          10
670474    2110  0679811761          10
670475    2110  0688047211           1
670476    2110  068808527X           8
670477    2110  0698119916           8
670479    2110  0743486625          10
670483    2110  0786807555           7
670484    2110  0786814241           8
670485    2110  0803298145           9
670486    2110  0806512318           6
670487    2110  0807842613           9
670488    2110  0812505042          10
670490    2110  0886774500           9
670491    2110  0898863538           8
670492    2110  093317490X           7
670493    2110  097089726x          10
670494    2110  1558504184           8
670495    2110  1561008931           7
670496    2110  1565111575          10
670498    2110  1570420564          10
670499    2110  1572970944           6

[103 rows x 3 columns]

In [380]:
user_data.head()

        userID        ISBN  bookRating
670337    2110  059035342X          10
670341    2110  0590448595           8
670344    2110  0451137965           9
670345    2110  0590629786          10
670346    2110  0590629794          10

In [381]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [382]:
user_full_info=pd.merge(user_data,books,on='ISBN',how='inner')

In [385]:
books.shape

(271355, 5)

In [386]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [387]:
user_full_info.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,2110,059035342X,10,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books
1,2110,0590448595,8,Karen's School Trip (Baby-Sitters Little Siste...,Ann M. Martin,1992,Scholastic Paperbacks (Mm)
2,2110,0451137965,9,Thinner,Stephen King,1985,New Amer Library
3,2110,0590629786,10,"The Visitor (Animorphs, No 2)",K. A. Applegate,1996,Scholastic
4,2110,0590629794,10,"The Encounter (Animorphs , No 3)",K. A. Applegate,1996,Scholastic

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [388]:
predictions

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
1192,0345370775,Jurassic Park,Michael Crichton,1999,Ballantine Books
6184,0345384911,Crystal Line,Anne McCaffrey,1993,Del Rey Books
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
5458,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic
2031,0451151259,Eyes of the Dragon,Stephen King,1988,Penguin Putnam~mass
5383,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic
3413,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic
976,0380759497,Xanth 15: The Color of Her Panties,Piers Anthony,1992,Eos
6048,0451167317,The Dark Half,Stephen King,1994,Signet Book
2435,0345353145,Sphere,MICHAEL CRICHTON,1988,Ballantine Books